@{
    ViewData["Title"] = "Baso";
}

<h1>Barco</h1>

<p>Foto de um Barco</p>

<img src="~/imagens/Barco.webp" alt="Imagem de um barco" width="400" />

<a asp-action="Index">Ir para a página Inicial</a>