@{
    ViewData["Title"] = "Pagina Inicial";
}

<h1>Olá Mundo</h1>

<p>Essa é minha primeira pagína ASP.NET</p>

<a asp-action="Casa">Ir para a página Casa</a>

<br>

<a asp-action="Vaso">Ir para a página Vaso</a>

<br>

<a asp-action="Barco">Ir para a página Barco</a>