@{
    ViewData["Title"] = "Vaso";
}

<h1>Vaso</h1>

<p>Foto de um Vaso</p>

<img src="~/imagens/VasoChines.jpg" alt="Imagem de um vaso" width="400" />


<a asp-action="Index">Ir para a página Inicial</a>

