body {
    font-family: Arial, sans-serif;
    background-color: lightblue;
    margin: 0;
    padding: 20px;
}

.conteudo {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    margin: 40px auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    color: #0078D7;
    margin-bottom: 10px;
}

p {
    color: #333;
}
